body {
    color:rgb(12, 12, 12);
    background-color:rgb(255, 224, 255);
    }
    .heading {
        font-size: 22px;
        width: 80%;
    }
    .ImageNames {
        color:black;
    }
    #camera {
        width: 300px;
        height: 300px;
        border: 2px solid black; 
    }
    #resultAccuracy, #resultImageName {
        color:purple;
    }